<h1>Facilities</h1>

<% @facilities.each do |facility| %>
  <div class="status">
    <div class="row">
      <div class="col-md-7">
        <strong><%= link_to facility.title, facility %></strong>
        <p><%= facility.description %></p>
      </div>
    </div>
  </div>
  <hr />
<% end %>

<br>

<%= link_to 'New Facility', new_facility_path %>

